/* =========================
   RESET
========================= */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-beige);
    overflow-x: hidden;

}


:root {

    /* =========================
       COLORS
    ========================= */

    /* Primary */
    --color-red: #952323;
    --color-black: #272121;

    /* Neutrals */
    --color-beige: #EFE4CF;
    --color-off-white: #F8F5EF;

    /* Accents */
    --color-orange: #BF5222;
    --color-blue: #6B86A6;
    --color-mustard: #D7A43B;
    --color-olive: #7E845A;
    --color-sage: #A8B18A;

    /* =========================
       FONTS
    ========================= */

    --font-body: "Outfit", sans-serif;
    --font-heading: "Story Script", cursive;
    --font-marker: "Permanent Marker", cursive;
    --font-title: "Anton", arial;

}


/* =========================
   GENERAL SECTION
========================= */

.section {
    position: relative;
    min-height: 100vh;
    padding: 5rem;
}

h3, p {
    font-family: var(--font-body)
}


/* =========================
   THE CREW
========================= */

.crew {
    position: relative;

    min-height: 1650px;

    padding: 7rem 8vw 5rem;

    background: var(--color-black);
    color: var(--color-beige);

    overflow: hidden;
}


/* =========================
   CREW HEADING
========================= */

.crew__heading {
    text-align: center;

    margin: 12rem auto 8rem;
}

.crew__heading h1 {
    margin: 0;

    color: var(--color-blue);

    font-family: var(--font-title);
    font-size: clamp(3rem, 8vw, 8rem);
    font-weight: 400;

    line-height: 1;

    text-shadow: 4px 4px 0 #111;
}

.crew__heading p {
    margin: 1rem 0 0;

    color: var(--color-mustard);

    font-family: var(--font-heading);
    font-size: clamp(1.5rem, 5vw, 5rem);
    font-style: italic;

    line-height: 1;

    text-shadow: 2px 2px 0 #111;

    transform: rotate(-2deg)
}


/* =========================
   CREW MEMBERS AREA
========================= */

.crew__members {
    position: relative;

    width: 100%;
    max-width: 1200px;

    min-height: 1800px;

    margin-top: -2rem auto 0;
}


/* =========================
   CREW MEMBER
========================= */

.crew-member {
    position: absolute;

    width: 280px;
}


/* =========================
   POLAROID
========================= */

.crew-member__polaroid {
    width: 190px;

    margin: 0 auto;

    padding: 0.45rem 0.45rem 0.8rem;

    background: var(--color-beige);

    box-shadow:
        5px 6px 0 rgba(0, 0, 0, 0.35);
}

.crew-member__polaroid img {
    display: block;

    width: 100%;
    aspect-ratio: 3 / 4;

    object-fit: cover;
}

.crew-member__polaroid h2 {
    margin: 0.45rem 0 0;

    color: var(--color-red);

    font-family: var(--font-marker);
    font-size: 1.25rem;
    font-weight: 900;

    line-height: 1;
    z-index: 5;

    text-align: center;
}


/* =========================
   POLAROID ROTATIONS
========================= */

.crew-member--klee .crew-member__polaroid {
    transform: rotate(-2deg);
}

.crew-member--primo .crew-member__polaroid {
    transform: rotate(2.5deg);
}

.crew-member--elijah .crew-member__polaroid {
    transform: rotate(-1deg);
}


/* =========================
   CHARACTER POSITIONS
========================= */

.crew-member--klee {
    top: 500px;
    left: 8%;
}

.crew-member--primo {
    top: 850px;
    right: 8%;
}

.crew-member--elijah {
    top: 1200px;
    left: 25%;
}


/* =========================
   CHARACTER INFORMATION
========================= */

.crew-member__info {
    width: 275px;

    margin: 1rem auto 0;

    text-align: center;
}

.crew-member__info h3 {
    margin: 0 0 0.45rem;

    color: var(--color-mustard);

    font-size: 1rem;
    font-weight: 700;
}

.crew-member__info p {
    margin: 0;

    color: var(--color-off-white);

    font-size: 0.9rem;
    line-height: 1.45;
}


















/* =========================
   SITE FOOTER
========================= */

.site-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 50px;

    padding: 0 5vw;

    background: var(--color-blue);
    color: var(--color-off-white);

    font-size: 0.8rem;
    font-weight: 500;
    
}


/* =========================
   FOOTER ITEMS
========================= */

.site-footer__item {
    white-space: nowrap;
}